@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#list{
	display: flex;
	min-height: calc(100vh - 150px);
}
#ul1 {
  flex: 1;
  display: inline-block;
  list-style-type: none;
  width: 17%;
  background-color: white;
  padding: 0 !important;
  margin:0 !important;
  border-right: 1px solid gainsboro;
}
#bn1, #bn3, #bn4, #bn5, #bn7, #bn2 {
  width: 100%;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
}
#f1{
	flex: 4;
	padding:0 30px 0;
}

#ul1 li button:hover {
  background-color: #555;
  color: white;
}
/* 사이드메뉴 css */

.nav{
	margin-top: 20px;
}
#bn6{
	  width: 100%;
	  display: block;
	  color: white;
	  padding: 8px 16px;
	  text-decoration: none;
	  border: none;
	  background-color: #555;
}
#page{
	text-align: center;
}
#tbcal{
	position: relative;
}
#add{
	background-color: #F4F2DE;
}
#btn4{
	display: inline-flex;
	position: absolute;
	right: 0;
	top: -7px;
	border: 1px solid gainsboro;
}
#btn4 button{
	padding: 2px 5px;
}
#btn4 button:not(:last-child){
	border-right: 1px solid gainsboro;
}
#chk{
	background-color: #213555;
	color: white;
	border: none;
}
.d{
	border: none;
	background-color: white;
}
#tb{
	width: 100%;
	text-align: center;
}
#tb td, th{
	text-align: center;
	border: 1px solid gainsboro;
	padding: 8px 0;
}
#cg{
	background-color: #A1CCD1;
	color: white;
}
.button{
	padding: 6px 10px;
	border: 1px solid gainsboro;
	background-color: white;
}
#page {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#color{
	background-color: black;
	color: white;
}