@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#list{
	display: flex;
	min-height: calc(100vh - 150px);
}
#ul1 {
  flex: 1;
  display: inline-block;
  list-style-type: none;
  width: 17%;
  background-color: white;
  padding: 0 !important;
  margin:0 !important;
  border-right: 1px solid gainsboro;
}
#bn1, #bn3, #bn4, #bn5, #bn7, #bn2 {
  width: 100%;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
}
#f1{
	flex: 4;
	padding:0 30px 0;
}
#ul1 li button:hover {
  background-color: #555;
  color: white;
}
/* 사이드메뉴 css */

.nav{
	margin-top: 20px;
}
#bn6{
	  width: 100%;
	  display: block;
	  color: white;
	  padding: 8px 16px;
	  text-decoration: none;
	  border: none;
	  background-color: #555;
}