@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* swiper css */
html,
    body {
      position: relative;
      height: 100%;
    }
    swiper-container {
      width: 100%;
      height: auto;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 15px;
  }
  /* swiper css */
.main_img img{
	border-radius: 15px;
	width: 100%;
}
.main_img{
	border-radius: 15px;
}
#list{
	width: 65%;
	margin: 0 auto;
}
#title1{
	font-size: 30px;
	font-weight: 800;
}
#addr{
	color: lightgray;
	margin-bottom: 30px;
}
#apr{
	position: absolute;
	right: 0;
	bottom: 20px;
	font-size: 25px;
}
#gnBtn{
	position: absolute;
	left: 0;
	bottom: 10px;
	background-color: white;
	color: darkgrey;
	border: none;
}	
#list_s{
	position: relative;
	display: flex;
	height: 140px;
}
#bmo{
	position: absolute;
	bottom: 10px;
	right: 120px;
}
#heart{
	width: 50px;
	height: 50px;
	background-color: white;
	border: 1px solid gainsboro;
	border-radius: 50%;
}
#heart img{
	width: 30px;
}
.form{
	display: grid;
	grid-template-rows: 50%;
    grid-template-columns: 50% 50%;
    white-space: normal; /* 텍스트가 줄 바꿈되도록 설정 */
    overflow: hidden; 
}
.form img{
	width: 100%;
	border-radius: 15px;	
}
.title2{
	font-size: 30px;
	font-weight: 800;
	border: 2px solid black;
	border-width: 0 0 2px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
#box2{
	padding-left: 30px;
}
.content{
	display: inline-block;
	color: darkgray;
	font-size: 18px;
}
#hr{
	margin: 70px 0 20px;
}