@charset "UTF-8";
.error-message {
    color: red;
    font-size: 12px;
}
.error-border {
    border: 2px solid red;
}



/* 로그인 상자 */


.loginbox {
   margin-top:0px;
    width: 100%;
    top:150px;
    background-color: #e9e9e9;
    text-align: left; /* 로그인 상자의 내용을 왼쪽으로 정렬합니다. */
    height:660px; 
    position: absolute;
}

.loginbox_a {
   margin-top:60px;  
    width: 28%;
    height:100%;
    margin-left:auto;
   margin-right:auto;
     border-radius: 10px;
   padding: 0 10px  10px 10px;
    
}

.loginbox_b{
      border-radius:18px;
      margin: 0 auto; 
      width: 50%;
      height: 30%;
       background-color: white;
      
   
}

.bookment{
      margin: 0 auto; 
   padding:0px 0px 12px;
}
.bookment > a{
   margin: 0 auto; 
      font-size: xx-large;
      font-weight: bold;
}


.logininput {
    width: 100%;
    height: 45px;
    border: none;
    
    border-radius: 8px;
    background-color: #198754;
    cursor: pointer;
    margin: 10px 0;
  text-align: center; /* 로그인 버튼 텍스트를 가운데로 정렬합니다. */
     color:white;
   transition-property:background-color;
   transition-duration:2.5s;
}

/* 나머지 폼 요소를 스타일링합니다. */

    .autologin {
  padding: 0px 0px 0px 8px;
   display: inline-block; /* 자동로그인 요소들을 한 줄에 표시합니다. */
  /* 체크박스의 배경 색상을 변경합니다. */
   accent-color: #198754;
   
}

.autotext {
   text-decoration:none;
    display: inline-block;
    font-size: 15px;
    color: #999999;
    margin-left: 10px; /* 왼쪽 여백을 추가하여 요소 사이의 간격을 조절합니다. */
}

/* 기타 스타일은 그대로 유지합니다. */


.logininput:hover{
    background-color:#157347; 
       transition: background-color 3.0s; /* 배경색에 대한 1.0초의 트랜지션 적용 */
}
.autologin:hover{
    background-color:#157347; 
}

.button a{
   text-decoration: none;
   color:black;
   margin-left:10px;
   font-size: 14px;
   
}

.button_a:hover{
   font-weight: bolder;
}
.button_b:hover{
   font-weight: bolder;
}
.button_c:hover{
   font-weight: bolder;
}
.button_d:hover{
   font-weight: bolder;
}

.info:hover{
   font-weight: bolder;
}