@charset "UTF-8";

    .mainbody {
            font-family: Arial, sans-serif;
            background-color: #F2F2F2;
            margin: 0;
            padding: 0;
        }
        
        
        
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        

        input[type="button"] {
            width: 22%;
            height:5%;
            background-color: #198754;
            border: none;
            border-radius: 8px;
            color: white;
            font-weight: bold;
            margin: 0 6px;
            cursor: pointer;
        }

        input[type="button"]:hover {
            background-color: #157347;
        }
        
        .mainbody{
        	width: 50%;
        	padding:auto;
        	margin:auto;
        	
        }
        .mainTable{
        	color:#787878;
        	 
        }