@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#list{
	width: 65%;
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
}
#tb input[type="text"]{
	width: 100%;
	height: 50px;
	border: none;
	text-align: center;
}
#tb input[type="number"]{
	text-align: center;
	width: 100%;
	height: 50px;
	border: none;
}
#list h2{
	border-bottom: 2px solid black;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
#tb{
	width: 100%;
}
#tb td{
	border: 1px solid gainsboro !important;
}
.title{
	padding: 20px;
	text-align: center;
}
#sel{
	width: 140px;
	height: 35px;
	margin-left: 20px;
}
#btn{
	width: 120px;
	height: 40px;
	background-color: #609EA2;
	color: white;
	border: none;
	border-radius: 10px;
}
#btn1{
	text-decoration: none;
	width: 120px;
	height: 40px;
	background-color: #C92C6D;
	color: white;
	border: none;
	border-radius: 10px;
}
.btn{
	margin-top: 30px;
	text-align: center;
}