@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#list{
	width: 65%;
	margin: 0 auto;
	margin-top: 100px;
}
#tb{
	width: 100%;
	border: 1px solid black;
	text-align: center;
}
#tb td{
	border: 1px solid gainsboro;
	padding: 13px 5px;
}
#list h2{
	border-bottom: 2px solid black;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
#tb .an{
	width: 70%;
}
.btn8{
	margin-top: 20px;
	float: right;
}
#btn{
	width: 120px;
	height: 40px;
	background-color: #609EA2;
	color: white;
	border: none;
	border-radius: 10px;
}
#btn2{
	width: 120px;
	height: 40px;
	background-color: #A6CF98;
	color: white;
	border: none;
	border-radius: 10px;
}
#btn1{
	text-decoration: none;
	display: inline-block;
	min-width: 120px;
	padding: 0 10px;
	height: 40px;
	background-color: #C92C6D;
	color: white;
	border: none;
	border-radius: 10px;
	margin-right: 15px;
}
.title{
	font-weight: 600;
}