@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* 사이드메뉴 css */
#list{
	display: flex;
}
#ul1 {
  flex: 1;
  display: inline-block;
  list-style-type: none;
  width: 17%;
  background-color: white;
  padding: 0 !important;
  margin:0 !important;
  border-right: 1px solid gainsboro;
}
#bn1, #bn2, #bn3, #bn5, #bn6 {
  width: 100%;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
}
#f1{
	flex: 4;
	padding:0 30px 0;
}
#ul1 li button:hover {
  background-color: #555;
  color: white;
}
/* 사이드메뉴 css */

.nav{
	margin-top: 20px;
}
#bn4{
	  width: 100%;
	  display: block;
	  color: white;
	  padding: 8px 16px;
	  text-decoration: none;
	  border: none;
	  background-color: #555;
}
#all a{
	text-decoration: none;
	color: black;
}
.con{
	background-color: #F2F2F2;
	padding: 15px 10px;
	margin-top: 10px;
}
.board-item{
	padding: 15px;
	border-bottom: 1px solid gainsboro;
}
.c1{
	margin-left: 30px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #105652;
	margin-right: 10px;
	padding: 5px;
}
.c2{
	padding: 5px;
	background-color: #FBD148;
	color: white;
	border: none;
	border-radius: 5px;
}
.c3{
	flex: 1;
	font-size: 16px;
	font-weight: 400;
}
.board{
	display: flex;
}
#form{
	position: absolute;
	right: 0;
	top: 0;
}
#tbcal{
	position: relative;
}
#c3{
	float: right;
	margin-top: 20px;
	width: 100px;
	border: none;
	background-color: #1B1A17;
	color: white;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 30px;
}
#text{
	width: 200px;
}
#sBtn{
	width: 50px;
	background-color: #000;
	color: white;
}
.btn-group{
	margin-top: 15px;
}